//Estilo de la ventana emergente
.routine-configurator {
  background-color: #fefefe;

  max-height: 500px;
}

//Titulo de la ventana emergente
  .title{
    margin-left: 2%;
 
  }
  

}

//Estilo de los iconos de las actividades
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//Estilo de las imagenes de los iconos
.circle-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

//Estilo de los titulos de las actividades
.circle-text {
  margin-top: 10px;
  text-align: center;
  

  //Estilo de cuando se seleciona un actividad
  .selected {
    width: 50px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid var(--ion-tab-bar-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-tab-bar-background);
  }
  
  //Titulo del aparatdo de hora
.hora {
  margin-top: 2%;
  margin-left: 16%;
}

//Titulo del aprataod de dias
.dias{
margin-left: 20%;
}

.custom-time-input{
  margin-left: 5%;
}

.buttonapply{
  margin-left: 4%;
  width: auto;
}

.buttoncancel{
  margin-right: 2%;
  width: auto;
}


.diaSemanas ion-row {
  font-size: 8px; //Tamaño de fuente  
}

.diaSemanas ion-item {
  padding: 1px; //Espaciado interno 
}


.diaSemanas ion-label {
  font-size: 12px; //Tamaño de fuente
}


.diaSemanas ion-checkbox {
  --size: 16px; // Tamaño del checkbox
}

//Estilo de cuando se seleciona un actividad
.selected {
  width: 50px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid rgb(137, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(137, 255, 255);
}

//Titulo del aparatdo de hora
.hora {
margin-top: 2%;
margin-left: 16%;
}

//Titulo del aprataod de dias
.dias{
margin-left: 20%;
}

.custom-time-input{
margin-left: 5%;
}

.buttonapply{
margin-left: 4%;
width: auto;
}

.buttoncancel{
margin-right: 2%;
width: auto;
}

//Estilo de input para selecionar la hora 
@media (max-width: 767px) {
  .custom-time-input {
    align-items: 80px;
    font-size: 14px;
    padding: 6px;
  }
}