<ion-content fullscreen="true" scrollY="true" class="routine-configurator" >


  <!-- Selecionar Actividad -->
  <ion-row >
    <div class="title">
      <h2>Programa tu actividad</h2>
    </div>
    <!-- Selecionar rutina -->
    <ion-col *ngFor="let info of activity" class="ion-text-center" (click)="selectActivity(info)" 
    [ngClass]="{'selected': info === selectedActivity}">
      <div class="circle" [style.background-color]="info.backgroundColor">
        <img [src]="info.Image"  class="circle-image">
      </div>
      <div class="circle-text" >{{info.name}}</div>
      
    </ion-col>
    
     <!-- Selecionar dias de la semana -->
    
      <ion-label class="dias">Días de la semana</ion-label>
     
        <ion-row>

            <!-- Iterar sobre los dias de la semana -->
          <ion-col size="4" *ngFor="let day of weekDays">
            <ion-item>
              <ion-label>{{day}}</ion-label>

               <!-- Comprobar si el dia esta seleccionado -->
              <ion-checkbox [checked]="isDaySelected(day)" (ionChange)="toggleDaySelection(day)"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      
   

     <!-- Selecionar hora -->
     
      <ion-label class="hora">Hora</ion-label>
      <input type="time" name="selectedTime" [(ngModel)]="selectedTime" class="custom-time-input" (ngModelChange)="InformationCompleteVerification()">
    
     <!-- Boton para aplicar los cambios -->
  <div class="buttonapply"><ion-button (click)="applyChanges()" [disabled]="InformationComplete">Guardar</ion-button> </div>
  <div class="buttoncancel"><ion-button color="medium" (click)="Cancel()">Cancelar</ion-button></div>

  </ion-row>
 

 
   
  

</ion-content>