<ion-card id="container">
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="tab1">
      Today
    </ion-segment-button>
    <ion-segment-button value="tab2">
      Tomorrow
    </ion-segment-button>
    <ion-segment-button value="tab3">
      Weekly
    </ion-segment-button>
  </ion-segment>

  <ion-content>
    <ng-container *ngIf="selectedTab === 'tab1'">
      <ion-card>
        <!-- Contenido de la pestaña 1 -->
        <!-- Today -->
        <div class="today">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-card-header>
                  <ion-card-title>{{ dailyWeather.date }}</ion-card-title>
                  <ion-card-subtitle>{{ dailyWeather.temp }}°C</ion-card-subtitle>
                  <p>Weather: {{dailyWeather.description}}</p>
                  <p>Humidity: {{dailyWeather.precipitation}} %</p> <!-- one variable-->
                </ion-card-header>
              </ion-col>

              <ion-col>
                <p>Sunrise: {{dailyWeather.sunrise}} / Sunset: {{dailyWeather.sunset}}</p> <!-- two variables-->
                <p>Min Temp: {{dailyWeather.tempMin}}° / Max Temp: {{dailyWeather.tempMax}}°</p> <!-- two variables-->
                <p>Wind: {{dailyWeather.windspeed}} km/h</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="selectedTab === 'tab2'">
      <ion-card>

        <!-- Contenido de la pestaña 2 -->
        <!-- Tomorrow -->
        <div class="tomorrow">

          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-card-header>
                  <ion-card-title>{{ tomorrowWeather.date }}</ion-card-title>
                  <ion-card-subtitle>{{ tomorrowWeather.temp }}°C</ion-card-subtitle>
                  <p>Weather: {{tomorrowWeather.description}}</p>
                  <p>Humidity: {{tomorrowWeather.precipitation}} %</p> <!-- one variable-->
                </ion-card-header>
              </ion-col>

              <ion-col>
                <p>Sunrise: {{tomorrowWeather.sunrise}} / Sunset: {{tomorrowWeather.sunset}}</p> <!-- two variables-->
                <p>Min Temp: {{tomorrowWeather.tempMin}}° / Max Temp: {{tomorrowWeather.tempMax}}°</p> <!-- two variables-->
                <p>Wind: {{tomorrowWeather.windspeed}} km/h</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>

      </ion-card>
    </ng-container>

    <ng-container *ngIf="selectedTab === 'tab3'">
      <ion-content class="ion-text-center">
        <ion-card>
          <!-- Contenido de la pestaña 3 -->
          <!-- Weekly -->

          <div class="weekly" *ngFor="let dato of weeklyWeatherArray">
            <ion-grid>
              <ion-row>
                <ion-col>
            <ion-card-content>
              <ion-card-title>{{ dato.date }}</ion-card-title>
              <ion-card-subtitle>{{ dato.temp }} C°</ion-card-subtitle>
              <p>{{ dato.description }}</p>
            </ion-card-content>
          </ion-col>

        </ion-row>
      </ion-grid>
          </div>

        </ion-card>
      </ion-content>
    </ng-container>
  </ion-content>
</ion-card>