<ion-card id="container">
  <div class="rectangulo"></div>

  <!-- Today -->
  <div id="today">
    <ion-card-header>
      <ion-card-title>{{dailyWeather.date}}</ion-card-title>
      <ion-card-subtitle>{{dailyWeather.temp}}°C</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{dailyWeather.icon}} (Icon code)</p> <!-- use weathercode variables-->
      <p>{{dailyWeather.description}}</p>
      <p>{{dailyWeather.precipitation}} %</p>  <!-- one variable-->
      <p>{{dailyWeather.sunrise}} / {{dailyWeather.sunset}}</p> <!-- two variables-->
      <p>{{dailyWeather.tempMin}}° / {{dailyWeather.tempMax}}°</p> <!-- two variables-->
      <p>{{dailyWeather.windspeed}} km/h</p>
    </ion-card-content>
  </div>

  <!-- Tomorrow -->
  <div id="tomorrow">
    <ion-card-header>
      <ion-card-title>{{tomorrowWeather.date}}</ion-card-title>
      <ion-card-subtitle>{{tomorrowWeather.temp}}°C</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{tomorrowWeather.icon}} (Icon code)</p> <!-- use weathercode variables-->
      <p>{{tomorrowWeather.description}}</p>
      <p>{{tomorrowWeather.precipitation}} %</p>  <!-- one variable-->
      <p>{{tomorrowWeather.sunrise}} / {{tomorrowWeather.sunset}}</p> <!-- two variables-->
      <p>{{tomorrowWeather.tempMin}}° / {{tomorrowWeather.tempMax}}°</p> <!-- two variables-->
    </ion-card-content>
  </div>

  <!-- Today -->
    <div id="weekly">
    <ion-card-header>
      <ion-card-title>Day</ion-card-title>
      <ion-card-subtitle>10°C</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Icon</p> <!-- use weathercode variables-->
      <p>Precipitation</p> 
    </ion-card-content>
  </div>

</ion-card>