<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Routine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY>
  <ion-card class="Routine" *ngFor="let card of cards">
    
      <div class="circle" (click)="openPopover()"></div>
      <div class="circle" (click)="openPopover()"></div>
      <div class="circle" (click)="openPopover()"></div>

      <div class="addCard-button-container">
        
        <button class="removeCard-button" (click)="removeCard(card.id)">
          <ion-icon name="trash"></ion-icon> 
        </button>
      </div>
     
  </ion-card>

  <div class="addCard-button-container" (click)="addCard()">
    <button class="addCard-button" >
      <ion-icon name="add"></ion-icon>
    </button>
    
  </div>


 
</ion-content>
