.Routine  {
    width:140;
    height: 100px;
    border-radius: 8dvw;
    background-color: #D95B66;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 
    0 8px 10px rgba(0, 0, 0, 0.1);

    /*.circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #000000;
        background-color: white;
        position: absolute;
      }*/

      .circle-1 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #000000;
        background-color: #d3d3d3;
        top: 20px;
        left: 20px;
        position: absolute;
      }
  
      .circle-2 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #000000;
        background-color: #d3d3d3;
        top: 20px;
        right: 20px;
        position: absolute;
      }
  
      .circle-3{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #000000;
        background-color: #d3d3d3;
        top: 20px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);


      } 
  


      .removeCard-button {
        position: absolute;
        bottom: -28px;
        right: -115px;
        background-color: transparent;
        border: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
      .removeCard-button ion-icon {
        font-size: 15px;
      }
  
  } 

  .addCard-button-container {
    display: flex;
    justify-content: left;
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
  }

  .addCard-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1);
    border: none;
    color: rgb(92, 91, 91);
  }