<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Routine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY>
  <ion-card class="Routine" *ngFor="let card of cards">
      
    <div class="circle-1" (click)="openPopover()"[style.background-color]="card.backgroundColor">
      <img [src]="card.image" class="circle-image" />
    </div>
    <div class="circle-text-1">{{ card.name }}</div>
    <div class="circle-2" (click)="openPopover()"[style.background-color]="card.backgroundColor">
      <img [src]="card.image" class="circle-image" />
    </div>
    <div class="circle-text-2">{{ card.name }}</div>
    <div class="circle-3" (click)="openPopover()"[style.background-color]="card.backgroundColor">
      <img [src]="card.image" class="circle-image" />
    </div>
    <div class="circle-text-3">{{ card.name }}</div>

      <div class="addCard-button-container">
        
        <button class="removeCard-button" (click)="removeCard(card.id)">
          <ion-icon name="trash"></ion-icon> 
        </button>
      </div>
     
  </ion-card>

  <div class="addCard-button-container" (click)="addCard()">
    <button class="addCard-button" >
      <ion-icon name="add"></ion-icon>
    </button>
    
  </div>


 
</ion-content>
