
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Routine {
  width: 30%;
  height: 8%;
  border-radius: 8dvw;
  background-color: var( --ion-tab-bar-background);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
  margin: 1%;
  margin-top: 5%;

  /* Estilos para el círculo */
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: #d3d3d3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
 
  /* Estilos para la imagen dentro del círculo */
  .circle img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    align-items: center;
  }

  /* Estilos para el texto debajo del círculo */
  .circle-text {
    text-align: center;
    margin-top: 75px;
    color: var(--ion-text-color);
  }

  /* Estilos para el botón de eliminar */
  .removeCard-button-container {
    position: absolute;
    top: -50px;
    left: 25px;
    background-color: transparent;
    border: none;
    color: var(--ion-text-color);
    cursor: pointer;
  }
  
  .removeCard-button-container {
    position: absolute;
    top: 7%;
    left: 75%;
  }
  
  .removeCard-button {
    background-color: transparent;
    border: none;
    color: var( --ion-text-color);
    cursor: pointer;
  }
  
  .removeCard-button ion-icon {
    font-size: 14px;
  }
  ion-menu {
    max-width: 150px;
  }
  
  ion-list {
    margin-top: 10px;
  }
  
  ion-item {
    padding: 5px;
  }
  
  ion-label {
    margin-left: 10px;
  }
  
  ion-radio {
    --color: #000000;
  }
  
  ion-radio-group {
    margin-top: 10px;
  }

  ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
    
  }


  .custom-alert .alert-button-group {
    padding: 8px;
    
  }
  
  button.alert-button.alert-button-confirm {
    background-color: red($color: #000000);
    color: var(--ion-color-success-contrast);
  }
  
  .md button.alert-button.alert-button-confirm {
    border-radius: 4px;
  }
  
  .ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
  }
  
  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }
}

/* Estilos para el contenedor del botón de agregar */
.addCard-button-container {
  display: flex;
  justify-content: left;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Estilos para el botón de agregar */
.addCard-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--ion-tab-bar-background);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1);
  border: none;
  color: var(--ion-text-color);
}
