ion-title {
  text-align: center;
}
ion-card-header{
  margin-bottom: -10%;
}
ion-card {
  background: transparent;
  
  box-shadow: none;
  text-align: center;
 
  
}
app-explore-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding-left: 15px;
  max-width: 100%;
}

ion-card-subtitle {
  font-size: 22px;
}
ion-card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  max-height: 70vh;
}
ion-item {
  background: var(--background);
  width:90vh;
  height:70vh;
  
}

.center-image-default {
  --background: url("../../assets/images/tierra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50;
  z-index: -1;
  height: 40vh;
  width: 40vh;
}

.center-image-kocho {
  --background: url("../../assets/images/shinobu_clima.webp");
  background-size: 60%;
  background-position:center top;
  background-repeat: no-repeat;
  position: static;
  top: 0;
  left: 0;
  z-index: -1;
  height: 90%;
}
.center-image-zerotwo {
  --background: url("../../assets/ZeroTwo/ZeroTwoWeather.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50;
  z-index: -1;
}
.center-image-rem {
  --background: url("../../assets/images/rem.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50;
  z-index: -1;
  height: 65vh;
  width: 40vh;
}
.center-image-tatsumaki {
  --background: url("../../assets/images/tatsumaki.webp");
  background-size: cover;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50;
  z-index: -1;
  height: 100vh;
}
.center-image-rias {
  --background: url("../../assets/images/rias.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50;
  z-index: -1;
  width: 50vh;
}