ion-title{
    text-align: center;
}
 ion-card{
    background: transparent;
    box-shadow: none;
    text-align: center;
 }
 
 ion-card-subtitle{
    font-size: 42px;
    }

    img{
        height: 40%;
    }