<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Themes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <img alt="Silhouette of mountains" src="assets/imges/whatsapp_image_2022-09-05_at_1_20_13_pm.jpeg_1758632412.webp" />
  <ion-card-header>
    <ion-card-title>Zero Two</ion-card-title>
    <ion-card-subtitle>Darling in the Franxx</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Our beautiful Zero Two shines pink in this theme based in her.
  </ion-card-content>
  
</ion-card>