ion-title{
  text-align: center;
}
ion-card-title {
  --color: #000000;
}
ion-card-subtitle {
  --color: #000000;
}
ion-card {
  --color: #000000;
}

.slide-in-right {
  ion-content {
    --ion-nav-view: {
      animation: var(--ion-animation-slide-right);
    }
  }
}

.zerotwo {
  --background: url("/assets/images/zerotwo.svg");
  background-size: cover;
  text-align: right;
  border-radius: 15px;
}
.kocho {
  --background: url("/assets/images/kocho.jpg");
  background-size: cover;
  text-align: right;
  border-radius: 15px;
}
.rem {
  --background: url("/assets/images/rem.jpg");
  background-size: cover;
  text-align: right;
  border-radius: 15px;
}
.tatsumaki{
  --background: url("/assets/images/tatsumaki.jpg");
  background-size: cover;
  text-align: right;
  border-radius: 15px;
}
.marin{
  --background: url("/assets/images/marin.svg");
  background-size: cover;
  text-align: right;
  border-radius: 15px;
}

.rem ion-card-title {
  --color: #ffffff;
}
.rem ion-card-subtitle {
  --color: #ffffff;
}
.paleta-de-colores {
  display: flex;
  justify-content: right;
  margin-right: 4%;
  
}

.circulo-primario {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
}
.circulo-secundario {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
}
.circulo-terciario {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-size: cover;
  text-align: right;
  border-radius: 15px;
}