<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Themes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-card class="zerotwo">
  <ion-card-header>
    <ion-card-title>Zero Two</ion-card-title>
    <ion-card-subtitle>Darling in the Franxx</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Our beautiful Zero Two shines pink in this theme based in her.
  </ion-card-content>
</ion-card>

<ion-card class="kocho">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<ion-card class="rem">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
