<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Themes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollY>

<ion-card class="zerotwo" (click)="ThemeSelector('zerotwo')">
  <ion-card-header>
    <ion-card-title>Zero Two</ion-card-title>
    <ion-card-subtitle>Darling in the Franxx</ion-card-subtitle>
  </ion-card-header>

  <div class="paleta-de-colores">
    <div class="circulo-primario" style="background-color: #ff0000;"></div>
    <div class="circulo-secundario" style="background-color: #ff5fea;"></div>
    <div class="circulo-terciario" style="background-color: #ffffff;"></div>
    <!-- Agrega más círculos con diferentes colores si lo deseas -->
  </div>
</ion-card>

<ion-card class="kocho" (click)="ThemeSelector('shinobu')">
  
  <ion-card-header>
    <ion-card-title>Shinobu Kocho</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <div class="paleta-de-colores">
    <div class="circulo-primario" style="background-color: #6200ff;"></div>
    <div class="circulo-secundario" style="background-color: #000264;"></div>
    <div class="circulo-terciario" style="background-color: #ababff;"></div>
    <!-- Agrega más círculos con diferentes colores si lo deseas -->
  </div>
</ion-card>

<ion-card class="rem">
  <ion-card-header>
    <ion-card-title>Rem</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <div class="paleta-de-colores">
    <div class="circulo-primario" style="background-color: #008cff;"></div>
    <div class="circulo-secundario" style="background-color: #0000FF;"></div>
    <div class="circulo-terciario" style="background-color: #ffffff;"></div>
  </div>
</ion-card>

<ion-card class="tatsumaki">
  <ion-card-header>
    <ion-card-title>Tastsumaki</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <div class="paleta-de-colores">
    <div class="circulo-primario" style="background-color: #00ff4c;"></div>
    <div class="circulo-secundario" style="background-color: #ffffff;"></div>
    <div class="circulo-terciario" style="background-color: #000000;"></div>
  </div>
</ion-card>

<ion-card class="marin">
  <ion-card-header>
    <ion-card-title>Marin Kitagawa</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <div class="paleta-de-colores">
    <div class="circulo-primario" style="background-color: #fcff67;"></div>
    <div class="circulo-secundario" style="background-color: #ff46d7;"></div>
    <div class="circulo-terciario" style="background-color: #ffffff;"></div>
  </div>
</ion-card>
</ion-content>